<!DOCTYPE html>

<html>

<head>
    <meta charset="UTF-8">
    <title>LensTrade</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
    <!--
        <section id="main-img">
        </section>

        -->
    <header>
        <img class="logo" src="/images/sunglasses.png" alt="logo">
        <p id="trade-name">NINER Eye+
        <p>
            <!-- <p>For a clearer view of life !</p> -->
        <nav>
            <div class="nav-links">
                <ul>
                    <li><a href="#">Login</a></li>
                    <li><a href="#">Signup</a></li>
                </ul>
            </div>

        </nav>
    </header><br>

    <div class="general-nav">

        <div class="general-nav-links">
            <ul>
                <li id="general-nav-font"><a href="index.html">Home</a></li>
                <li><a href="http://localhost:3000/trades/tradeCategories">Trades</a></li>
                <li><a href="newTrade.html">Start Trading</a></li>
            </ul>
        </div>
    </div>

    <!-- <div class="trade-container">

        <img src="images/gg.jpeg">
        <h2>Round Glasses </h2>
        <input type="submit" value="Start Trading">
        <a href="newTrade.html" class="">Start Trading</a>
    </div> -->


    <div class = "exec-container">
        <%console.log("In ejs template = ",item.details);%>
        <%if(item){
            console.log("In ejs template = ",item);%>
            <div class = "card">
                <img id = "card-image" src = "<%= item.image %>" alt = "logo">
                <h1><%= item.name%></h1>
                <p class="price">$<%= item.price%></p>
                <p><%= item.details %></p>
            </div>
            <form>
                <p>
                    <button class = "exec-button-update" 
                        type = "submit" 
                        formmethod="GET" 
                        formaction="/trades/<%=item.id%>/edit">
                        Update
                    </button>
                </p>
                <p>
                    <button class = "exec-button-delete" 
                        type = "submit" 
                        formmethod="POST" 
                        formaction="/trades/<%=item.id%>?_method=DELETE">
                        Delete
                    </button>
                </p>
            </form>

        <%}else{
            console.log("In ejs template, there is no item");
        }%>
    </div>


    


   
   </div>



    <footer>
        <ul id="footer">
            <li>
                <a href="#">Niner Lens+</a>
            </li>
            <li>
                <a href="#">About</a>
            </li>
            <li>
                <a href="#">Contact</a>
            </li>
        </ul>
        <img class="whatsapp-image" src="/images/whatsapp.png" title="whatsapp-image" class="center">
        <img class="twitter-image" src="/images/twitter.png" title="twitter-image" class="center">
    </footer>


</body>

</html>