<%- include('../partials/header.ejs')%>


    <div class = "exec-container">
        <%console.log("In ejs template = ",item.details);%>
        <%if(item){
            console.log("In ejs template = ",item);%>
            <div class = "card">
                <img id = "card-image" src = "<%= item.image %>" alt = "logo">
                <h1><%= item.name.firstName + ' '+ item.name.lastName%></h1>
                <p class="price">$<%= item.price%></p>
                <p><%= item.details %></p>
            </div>
            <form>
                <p>
                    <button class = "exec-button-update" 
                        type = "submit" 
                        formmethod="GET" 
                        formaction="/trades/<%=item.id%>/edit">
                        Update
                    </button>
                </p>
                <p>
                    <button class = "exec-button-delete" 
                        type = "submit" 
                        formmethod="POST" 
                        formaction="/trades/<%=item.id%>?_method=DELETE">
                        Delete
                    </button>
                </p>
            </form>

        <%}else{
            console.log("In ejs template, there is no item");
        }%>
    </div>


    


   
   </div>


   <%- include('../partials/footer.ejs')%>