<%- include('../partials/header.ejs')%>


    <div class = "exec-container">
        <%console.log("In ejs template = ",item.details);%>
        <%if(item){
            console.log("In ejs template = ",item);%>
            <div class = "card">
                <img id = "card-image" src = "<%= item.image %>" alt = "logo">
                <h3><%= item.productName%></h3>
                <h5>Trader Name: <%= item.name.firstName + ' '+ item.name.lastName%></h5>
                <p class="price">Price: $<%= item.price%></p>
                <p><%= item.details %></p>
            </div>
            <form>
                <p>
                    <button class = "exec-button-update" 
                        type = "submit" 
                        formmethod="GET" 
                        formaction="/trades/<%=item.id%>/edit">
                        Update
                    </button>
                </p>
                <p>
                    <button class = "exec-button-delete" 
                        type = "submit" 
                        formmethod="POST" 
                        formaction="/trades/<%=item.id%>?_method=DELETE">
                        Delete
                    </button>
                </p>

                <p>
                    <button class = "exec-button-trade" 
                        type = "submit" 
                        formmethod="GET" 
                        formaction="/trades/myTrades/<%=item.id%>">
                        Trade
                    </button>
                </p>

                <p>
                    <button class = "exec-button-watch" 
                        type = "submit" 
                        formmethod="POST" 
                        formaction="/trades/watchlist/<%=item.id%>">
                        Watch
                    </button>
                </p>
            </form>

        <%}else{
            console.log("In ejs template, there is no item");
        }%>
    </div>


    


   
   </div>


   <%- include('../partials/footer.ejs')%>