<%- include('../partials/header.ejs')%>


    <div id = "card-container">
        <%console.log("In ejs template = ",items.details);%>
        <%if(items.length > 1){
            console.log("In ejs template = ",items.length);
            for (var i = 0; i < items.length; i++) {%>

                <div class="row">
                    <div class="column-66">
                        <h1 class="xlarge-font"><b>
                                <%= items[i].name.firstName %>
                            </b></h1>
                        <h1 class="large-font" style="color:MediumSeaGreen;"><b>$<%= items[i].price%></b></h1>
                        <p><span style="font-size:36px">Make you feel like a Gentleman.</span>
                            <%= items[i].details %>
                        </p>
                        <button class="trade-button">
                            <a href="http://localhost:3000/trades/showTrade/<%= items[i].id%>">
                                Start Trading
                            </a>
                        </button>
                    </div>
                    <div class="column-33">
                        <img src="<%= items[i].image %>" width="335" height="471">
                    </div>
                </div>

             <%} 
        }else{%>
            
                <div class="row">
                    <div class="column-66">
                        <h1 class="xlarge-font"><b>
                                <%= items[0].name.firstName %>
                            </b></h1>
                        <h1 class="large-font" style="color:MediumSeaGreen;"><b>$<%= items[0].price%></b></h1>
                        <p><span style="font-size:36px">Make you feel like a Gentleman.</span>
                            <%= items[0].details %>
                        </p>
                        <button class="trade-button">
                            <a href="http://localhost:3000/trades/showTrade/<%= items[0].id%>">
                                Start Trading
                            </a>
                        </button>
                    </div>
                    <div class="column-33">
                        <img src="<%= items[0].image %>" width="335" height="471">
                    </div>
                </div>
        <%}%>

    </div>

   </div>



   <%- include('../partials/footer.ejs')%>