<%- include('../partials/header.ejs')%>

    <div class="container" style="color:rgb(52, 163, 52)">
        <h1 >Update Trading Info</h1>
    </div>
    <% console.log("In updateFormEjs the item is = ",eachItem) %>
    <div class="container">
        <form method="POST" action="/trades/<%= eachItem.id%>?_method=PUT" class="form-horizontal">
            <div class="form-group has-success">
                <label class="control-label col-sm-2" for="glastp">Name</label>
                <div class="col-sm-5">
                    <input class="form-control" type="text" id="name" name="name" value = "<%= eachItem.productName %>">
                </div>
            </div>

            <div class="form-group has-success">
                <label class="control-label col-sm-2" for="cataid">Category</label>
                <div class="col-sm-5">
                    <input class="form-control" type="text" id="category" name="category" value = "<%= eachItem.category %>">
                </div>
            </div>

            <div class="form-group has-success">
                <label class="control-label col-sm-2" for="cataid">Details</label>
                <div class="col-sm-5">
                    <input class="form-control" type="text" id="details" name="details" value = "<%= eachItem.details %>">
                </div>
            </div>

            <div class="form-group has-success">
                <label class="control-label col-sm-2" for="cataid">Price</label>
                <div class="col-sm-5">
                    <input class="form-control" type="text" id="price" name="price" value = "<%= eachItem.price %>">
                </div>
            </div>

            <div class="container text-center">
                <button type="submit" class="btn btn-success">
                    Update
                </button>
            </div>
        </form>
    </div>


    <%- include('../partials/footer.ejs')%>